.flex-between {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 25.5px;
}

.d-flex {
    display: flex;
}

.navbar {
    align-items: center;
}
.navbar li a{
    position: relative;
}
.navbar li a {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color: #A0A0A0;
    text-align: center;
    transition: 0.5s;
    border-radius: 6px;
    display: inline-block;
    margin: 0 20px;
}

.navbar li a::after{
    content: "";
    position: absolute;
    background-color: #FF9F28;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar li a:hover::after{
    width: 100%;
}
.navbar li a.active::after{
    width: 100%;
}

.header_logo img {
    transition: 0.3s;
}

.header_logo img:hover {
    transform: scale(1.1);
}

.header_block {
    padding: 31px 0;
    align-items: end;
    position: relative;
}

header {
    background-color: white;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.header_notifics span {
    background-color: #FF9F28;
    color: white;
    padding: 1px 5px;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: -3px;
}

.header_notifics {
    position: relative;
    margin: 0 31px;
    transition: 0.3s;
}

.header_notifics:hover {
    transform: scale(1.1);
}


.translate_buttons {
    position: absolute;
    right: 0;
    top: 0;
}

.translate_buttons button {
    background-color: white;
    margin-left: 5px;
    padding: 5px 5px 7px;
    cursor: pointer;
    color: black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
}

.translate_buttons .active {
    background-color: #56CCF2;
    color: white;
}

.menu a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #787878;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #C9C9C9;
    transition: 0.1s;
}

.section_menu .circle {
    padding: 2px 8px;
    border-radius: 50%;
    background-color: #FF9F28;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-right: 10px;
}
.circle~span{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #787878;
    cursor: pointer;
   
}
.menuVector{
    transform: rotate(-180deg);
}
.section_menu img{
    cursor: pointer;
    width: 16px;
    transition: 0.7s;
    margin-left: 10px;
    width: 20px;
    margin-right: 7px
}
.menu>a:hover {
    background-color: #C9C9C9;
}

.menu {
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.415);
    border-radius: 5px;
    position: absolute;
    z-index: -100;
    right: 0;
    top: -100%;
    transition: 0.7s;
}

.display {
    top: 118px;
    z-index: 1;
}